CompileFlags:
  CompilationDatabase: build
  Add:
    - "--target=arm-none-eabi"
    - "-mcpu=cortex-m0plus"
    - "-mthumb"
    - "-D__MSPM0G3507__"
    - "-ICore/Inc"
    - "-IBSP/Inc"
    - "-IDriver"
    - "-IDriver/CMSIS/Core/Include"
