# MSPM0G3507 + CMSIS-DAP
# 需要包含 MSPM0 flash 驱动的 OpenOCD 主线快照；0.12.0 正式版不支持 MSPM0。

source [find interface/cmsis-dap.cfg]
transport select swd

adapter speed 1000
reset_config srst_only

source [find target/ti/mspm0.cfg]
